body{
    background-color: lightblue;
}

div{   
   
        border: 5px solid;
        margin: auto;
        width: 30%;
        padding: 10px;      
}

.divmain{
   
   
        border: 5px solid;
        margin: auto;
        width: 80%;
        padding: 10px;      

}

ul{
    display: inline-block;
    margin: auto;
    padding: 10px;
}

li{
    list-style-type: none;
}